<app-navbar></app-navbar>
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card">
                <div class="card-body">
                    <h2 class="card-title">Registration</h2>
                    <form (ngSubmit)="registerUser(signUpRequest)" class="form">
                        <div class="form-group">
                            <label for="username">Username</label>
                            <input type="text" id="username" [(ngModel)]="signUpRequest.username" name="username"
                                required class="form-control" autocomplete="off">
                        </div>
                        <div class="form-group">
                            <label for="password">Password</label>
                            <input type="password" id="password" [(ngModel)]="signUpRequest.password" name="password"
                                required class="form-control" autocomplete="off">
                        </div>
                        <div class="form-group">
                            <label for="email">Email</label>
                            <input type="email" id="email" [(ngModel)]="signUpRequest.email" name="email" required
                                class="form-control" autocomplete="off">
                        </div>
                        <div class="form-group">
                            <label for="companyname">Company Name</label>
                            <input type="text" id="companyname" [(ngModel)]="signUpRequest.companyname"
                                name="companyname" required class="form-control" autocomplete="off">
                        </div>
                        <div class="form-group">
                            <label for="phone">Phone</label>
                            <input type="tel" id="phone" [(ngModel)]="signUpRequest.phone" name="phone" required
                                class="form-control" autocomplete="off">
                        </div>
                        <div class="form-group">
                            <label for="teamname">Team Name</label>
                            <input type="text" id="teamname" [(ngModel)]="signUpRequest.teamname" name="teamname"
                                required class="form-control" autocomplete="off">
                        </div>
                        <button type="submit" class="btn btn-primary mt-2" data-bs-toggle="modal"
                            data-bs-target="#exampleModal">Register</button>
                    </form>
                </div>
            </div>
        </div>
        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog d-flex align-items-center">
                <div class="modal-content">
                    <div class="modal-body text-center">
                        <h6>User Registered Successfully</h6>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"
                            routerLink="/login">Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>